@import 'reset';

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat');

body{
    background: url('../img/wall-texture-600.jpg') no-repeat center;
    background-size: cover;
    position: relative;

    &:after{
        content: '';
        background: rgba(255,255,255,.5);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

p{
    font-family: "Montserrat", sans-serif;
    line-height: 1.4em;
}

dl{ margin-top: 1em; }

dd{
    margin-top: .25em;
}

dd + dt{
    margin-top: 1em;
}

.sans{
    font-family: "Montserrat", sans-serif;
}

.serif{
    font-family: "Abril FatFace", cursive, serif;
}

.caps{
    text-transform: uppercase;
    font-size: 1.2em!important;
}

.site-header, .main-content, .site-footer{
    padding: 4em;
}

.main-content{
    padding: 0 2em;
}

.hours{
    padding-bottom: .5em;
    border-bottom: 1px solid purple;
    margin-bottom: .5em;
    margin-top: 1em;
    display: inline-block;
}

.site-header{
    text-align: center;

    h1{
        text-indent: -9999em;
        background: url('../img/logo.png') no-repeat 0 0;
        display: block;
        margin: 2em auto -.6em;
        background-size: contain;
        width: 228px;
        height: 102px;
    }

    .address{
        font-family: 'Abril Fatface', cursive;
        font-size: 1.2em;
        line-height: 1.2em;

        .neighborhood{
            font-family: 'Montserrat', sans-serif;
            display: block;
            font-size: .5em;
            text-transform: uppercase;
        }
    }
}

.main-content{
    text-align: center;

    h2{
        font-size: 1.6em;
        line-height: 1.4em;
        margin-bottom: .25em;

        + h2{
            margin-top: 1em;
        }
    }

}

.promo{
    margin: 4em auto;
    display: block;
    max-width: 600px;
    text-decoration: none;
    padding: 2em;
    background: rgba(0,0,0,.2);
    transition: all .3s;
        
    h2{ 
        font-size: 1em;
        border-bottom: 1px solid purple;
        margin-bottom: 2em;
        padding-bottom: .5em;
    }

    img{
        width: 100%;
        opacity: .9;
        transition: all .3s;
    }

    .text{
        text-align: left;

        h3{
            color: #111;
            font-size: .8em;
            line-height: 1.2em;
            margin-top: 1em;

            a{ 
                color: #111; 
                transition: color .3s;
                text-decoration: none; 

                &:hover{
                    color: purple;
                }    
            }
        }

        p{
            font-size: .8em;
            margin: .5em 0;
        }
    }
}

.site-footer{
    background: rgba(0,0,0,.9);
    padding: 2em 4em;
    color: #555;

    .social-links{
        display: block;
        width: 120px;
        margin: 2em auto;
        zoom: 1;

        &:after{
            content: '';
            display: block;
            clear: both;
            height: 0;
            visibility: hidden;
        }

        a{
            display: block;
            text-indent: -9999em;
            height: 20px;
            width: 20px;
            float: left;
            margin: 0 .5em;
            opacity: .3;
            transition: all .3s;
            background: url('../img/facebook-logo-white.png') no-repeat 0 0;
            background-size: contain;

            &:hover{
                opacity: .8;
            }

            &.twitter{
                background-image: url('../img/twitter-logo-white.png');
            }

            &.instagram{
                background-image: url('../img/instagram-logo-white.png');
            }
        }
    }

    .copyright{
        display: block;
        text-align: center;
    }
}

.images{
    padding-top: 2em;
    display: flex;
    height: 200px;

    > div{
        width: 33.333%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .image-1{
        background-image: url('../img/food1.jpeg');
    }

    .image-2{
        background-image: url('../img/food2.jpeg');
    }

    .image-3{
        background-image: url('../img/food3.jpeg');
    }
}

@media screen and (min-width: 760px){

    body{
        background-image: url('../img/wall-texture.jpg');
    }

    .site-header{
        h1{
            width: 285px;
            height: 127px;
        }
            
        .address{
            font-size: 1.475em;
        }
        
    }

    .main-content{
        padding: 0 4em;

        h2{
            font-size: 2em;
        }
    }

    .promo{
        background: rgba(0,0,0,.2);

        h2{ 
            font-size: 1em;
        }

        .text{
            h3{
                font-size: 1em;
                line-height: 1.4em;
                margin-top: 1em;
            }
        }
    }

    .site-footer{
        .social-links{
            float: right;
            margin: 0;

            a{
                margin: 0 0 0 1em;
            }
        }

        .copyright{
            text-align: left;  
        }
        
    }

}