@import 'reset';

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat');

body{
    background: url('../img/wall-texture.jpg') no-repeat center;
    background-size: cover;
    position: relative;

    &:after{
        content: '';
        background: rgba(255,255,255,.5);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

p{
    font-family: "Montserrat", sans-serif;
    line-height: 1.4em;
}

.sans{
    font-family: "Montserrat", sans-serif;
}

.serif{
    font-family: "Abril FatFace", cursive, serif;
}

.caps{
    text-transform: uppercase;
    font-size: 1.2em!important;
}

.site-header, .main-content, .site-footer{
    padding: 4em;
}

.main-content{
    padding: 0 4em;
}

.site-header{
    text-align: center;

    h1{
        text-indent: -9999em;
        background: url('../img/logo.png') no-repeat 0 0;
        width: 285px;
        height: 127px;
        display: block;
        margin: 2em auto 0;
        background-size: contain;
    }

    .address{
        font-family: 'Abril Fatface', cursive;
        font-size: 1.325em;
        line-height: 1.2em;

        .neighborhood{
            font-family: 'Montserrat', sans-serif;
            display: block;
            font-size: .5em;
            text-transform: uppercase;
        }
    }
}

.main-content{

    text-align: center;

    h2{
        font-size: 2em;
        line-height: 1.4em;
    }

}

.promo{
    margin: 4em auto;
    display: block;
    max-width: 600px;
    text-decoration: none;
    padding: 2em;
    background: rgba(0,0,0,.1);
    transition: all .3s;

    img{
        width: 100%;
        opacity: .9;
        transition: all .3s;
    }

    .text{
        text-align: left;

        h3{
            color: #111;
        }

        p{
            color: #ccc;
            font-size: .6em;
            margin: .5em 0;
        }
    }

    

    &:hover{
        
        background: rgba(0,0,0,.2);

    }
}

.site-footer{
    background: rgba(0,0,0,.9);
    padding: 2em 4em;
    color: #555;

    .social-links{
        float: right;
        display: block;
        width: 120px;

        a{
            display: block;
            text-indent: -9999em;
            height: 30px;
            width: 30px;
            background: url('../img/social-links-30.png') no-repeat 0 0;
            float: left;
            margin-right: .25em;
            opacity: .8;
            transition: all .3s;

            &:hover{
                opacity: 1;
            }

            &.twitter{
                background-position: -30px 0;
            }

            &.instagram{
                background-position: -61px 0;
            }
        }
    }
}



.images{
    padding-top: 2em;
    display: flex;
    height: 200px;

    > div{
        width: 33.333%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .image-1{
        background-image: url('../img/food1.jpeg');
    }

    .image-2{
        background-image: url('../img/food2.jpeg');
    }

    .image-3{
        background-image: url('../img/food3.jpeg');
    }
}