<!DOCTYPE html>
<head>
    <title>{{ site.title }}&ndash;{{ site.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.seoDescription }}">
    <meta name="keywords" content="{{ site.seoKeywords }}">
    <link rel="stylesheet" href="{{ site.url }}/css/screen.css?a" />
    <!--[if lt IE 9]>
        <script src="{{ site.url }}/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

    <header class="site-header">
        <h1>{{ site.title }}</h1>

        <p class="address">{{ site.address.street }}
            <span class="neighborhood">{{ site.address.neighborhood }}</span>
        </p>
    </header><!--.site-header-->

    <main class="main-content">

        <h2 class="serif">{{ site.description }}</h2>

        <h2 class="sans caps"><span class="hours">Hours</span></h2>

        <dl class="sans">
            <dt>Monday - Thursday</dt>
            <dd>5pm to 11pm</dd>
            <dt>Friday and Saturday</dt>
            <dd>5pm to 2am</dd>
            <dt>Closed Sunday</dt>
        </dl>

        <div class="promo">
            {# <img src="{{ site.url }}/img/royale.jpg" /> #}
            <div class="text">
                <h2 class="sans">News</h2>
                <h3 class="sans caps">
                    <a target="_blank" href="http://www.newsobserver.com/living/food-drink/mouthful-blog/article115643598.html">
                    Royale opens Friday night in downtown Raleigh
                    </a>
                </h3>
                <p>The News &amp; Observer | Nov 18, 2016</p>
                <h3 class="sans caps">
                    <a target="_blank" href="http://www.wral.com/royale-opens-friday-in-city-market/16234805/">
                    Royale opens Friday in City Market
                    </a>
                </h3>
                <p>WRAL | Nov 18, 2016</p>
                <h3 class="sans caps">
                    <a target="_blank" href="http://www.newsobserver.com/living/food-drink/mouthful-blog/article105786751.html">
                    Royale to open in former Battistella&rsquo;s space in downtown Raleigh
                    </a>
                </h3>
                <p>The News &amp; Observer | Oct 4, 2016</p>
            </div>
        </div>

    </main>

    <div class="images">
        <div class="image-1"></div>
        <div class="image-2"></div>
        <div class="image-3"></div>
    </div>

    <footer class="site-footer">

        <ul class="social-links">
        {% for link in site.social %}
            <li>
                <a href="{{ link.url }}" class="{{ link.name | lower }}" target="_blank">{{ link.name }}</a>
            </li>
        {% endfor %}
        </ul>
        <p class="copyright">Copyright &copy; 2016 Royale. All rights reserved.</p>
    </footer>

</body>
</html>