<!DOCTYPE html>
<head>
    <title>&ndash;</title>
    <link rel="stylesheet" href="/css/screen.css" />
</head>
<body>

    <header class="site-header">
        <h1></h1>

        <p class="address">
            <span class="neighborhood"></span>
        </p>
    </header><!--.site-header-->

    <main class="main-content">

        <h2 class="serif"></p>

        <h2 class="sans caps">Opening November 2016</p>

        <a href="http://www.newsobserver.com/living/food-drink/mouthful-blog/article105786751.html" class="promo"   target="_blank">
            
            <div class="text">
                <h3>Royale to open in former Battistella&rsquo;s space in downtown Raleigh</h3>
                <p>The News &amp; Observer</p>
            </div>
        </a>

    </main>

    <footer class="site-footer">
        <ul class="social-links">
                </ul>
        <p class="copyright">Copyright &copy; 2016 Royale. All rights reserved.</p>
    </footer>

</body>
</html>