{% extends "layouts/default.html" %}

{%
set site = {
    'title': 'Royale',
    'description': 'A French-American bistro serving&nbsp;dinner.',
    'seoDescription': 'A French-American bistro serving dinner in Raleigh\'s City Market.',
    'seoKeywords': 'Raleigh, Royale, restaurant, french, City Market, Moore Square, wine, dinner',
    'url' : 'http://royaleraleigh.com',
    'address' : {
        'street' : '200 E. Martin Street',
        'neighborhood' : 'City Market - Downtown Raleigh'
    },
    'phone' : '(919) 977-3043',
    'social' : {
        'instagram' : {
            'name' : 'Instagram',
            'url' : 'https://instagram.com/royaleraleigh/',
        },
        'twitter' : {
            'name' : 'Twitter',
            'url' : 'https://twitter.com/royale_raleigh',
        },
        'facebook' : {
            'name' : 'Facebook',
            'url' : 'https://facebook.com/royale.raleigh',
        },
    }
}
%}